:root{
    --color-primario:  #2e86c1 ;
    --color-secundario:  #3498db ;
}

*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.main_header{
    min-width: 100vw;
    height: 15vh;
    background-color: var(--color-primario);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }

.main_header_logo{
    width: 5rem;
    height: 5rem;
    border: black dotted;

}
.main_conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    min-height: 70vh;
    background-color: whitesmoke;

}
.main_conteiner div{
    padding: 0rem 4rem 2rem 4rem;
}
.main_conteiner h1{
    font-size: 2rem;
    color: var(--color-primario);
    text-transform: uppercase;
}

.main_conteiner p{
    text-align: justify;
    padding: 1rem;
}

.main_footer{
    width: 100vw;
    height: 15vh;
    background-color:var(--color-secundario);
    display: flex;
    justify-content: center ;
    align-items: center;
}

.main_footer figure{
    width: 5rem;
    height: 5rem;
    border: black dotted;
}